.task {
display: flex;
flex-direction: row;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
margin-top: 30px;
max-width: 750px;
padding: 10px;
}

.task__content {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.task__service-part {
  display: flex;
  justify-content: space-between;
}

.task__text {
  margin: 0 0 20px;
  background-color: white;
  height: 25px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding-left: 10px;
  word-wrap: break-word;
}

.task__text-bold {
  font-weight: 900;
}
